# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Environment variables
.env
*/.env

# Node / Frontend
node_modules/
frontend/dist/
frontend/.vite/

# Database
*.db
*.sqlite3

# IDE
.vscode/
.idea/

# Logs
*.log
